html
    head
        meta(name='viewport', ,='', content='width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='viewport', ,='', content='width=500, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        title=m_id

        style.

            * { margin: 0; padding: 0; box-sizing: border-box; }

            body {
                font: 13px Helvetica, Arial;
            }

            form {
                background: #000;
                padding: 3px;
                position: fixed;
                bottom: 0;
                width: 100%;
            }

            form input {
                border: 0; padding: 10px; width: 85%; }

            form button {
                width: 15%;
                background: rgb(130, 224, 255);
                border: none;
                padding: 10px;
            }

            #messages { list-style-type: none; margin: 0; padding: 0; }

            #messages li {
                padding: 25px 10px;
            }

            #oppmsg {
                padding: 10px;
                background: #d0e9c6;
                border-radius: 25px;
            }
            #oppid {
                float: left;
                margin-left: 10px;
            }

            #mymsg {
                float: right;
                padding: 10px;
                background: #9acfea;
                border-radius: 25px;
                margin-bottom: 15px;
            }

            #divmsg {
                overflow:auto; height: 90%;
            }

            #divarea{
                background-color: #eeeeee;
                padding-top: 7px;
                height: 30px;
                text-align: center;
                margin: 10px;
            }


    body
        div#divmsg
            ul#messages



        div
            form(action='')
                input#m(autocomplete='off')
                button Send

    script(src='/socket.io/socket.io.js')

    script(src='//code.jquery.com/jquery-1.11.0.min.js')

    script.
        var socket = io();
        $('form').submit(function(){
            if ($('#m').val() != '') {
                socket.emit('chat message', {m_id: !{JSON.stringify(m_id)}, m_content: $('#m').val()});
                $('#messages').append($('<span id="myid">')).append($('<li>').append($('<span id="mymsg">').text($('#m').val())));
            }

            if ($('#divmsg').prop('scrollHeight') > $('#divmsg').height())
                $('#divmsg').scrollTop($('#divmsg').prop('scrollHeight'));
            $('#m').val('');
            return false;
        });

        socket.on('chat message', function(msg){
            $('#messages').append($('<span id="oppid">').text(msg['m_id'])).append($('<li>').append($('<span id="oppmsg">').text(msg['m_content'])));
            if ($('#divmsg').prop('scrollHeight') > $('#divmsg').height())
                $('#divmsg').scrollTop($('#divmsg').prop('scrollHeight'));
        });

        socket.on('notification', function (msg) {
            $('#messages').append($('<ol id="divarea">').text(msg['m_content']));
            if ($('#divmsg').prop('scrollHeight') > $('#divmsg').height())
                $('#divmsg').scrollTop($('#divmsg').prop('scrollHeight'));
        });