extends layout

block content
  script(src='//developers.kakao.com/sdk/js/kakao.min.js')
  script(src="js-yaml.min.js")
  a#kakao-login-btn
    a(href='http://alpha-developers.kakao.com/logout')

    script(type='text/javascript').
      //<![CDATA[
      // 사용할 앱의 JavaScript 키를 설정해 주세요.

      Kakao.init('3dee48e4ccc6b7755390974f30a54832');
      // 카카오 로그인 버튼을 생성합니다.
      Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function (authObj) {
          // 로그인 성공시, API를 호출합니다.
          Kakao.API.request({
            url: '/chat',
            success: function (res) {
              var refreshToken = Kakao.Auth.getRefreshToken();
              alert(JSON.stringify(refreshToken));
              alert(JSON.stringify(res));
            },
            fail: function (error) {
              alert(JSON.stringify(error));
            }
          });
        },
        fail: function (err) {
          alert(JSON.stringify(err));
        }
      });



